.App {
  text-align: center;
}

.App-header {
  font-size: xx-large;
  font-weight: bold;
}

.Fractions {
  margin: 10px;
}

img {
  margin: 5px;
}

.Board img {
  margin: 0px;
}

.Board {
  text-align: center;
  width: 1025px;
  height: 400px;
  border: 2px solid black;
}
